<h1>Current Conditions for <%= @city %></h1>

<p>It is <%= @data["main"]["temp"] %> degrees outside, the humidity level is <%= @data["main"]["humidity"] %> with <%= @data ["weather"][0]["main"] %> conditions.</p>



