<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <div class="page-header">
      <h1>IT HAPPENED HERE<p><small>Books * Music * Movies</p><p>City by City, Neighborhood by Neighborhood</p></small></h1>
    </div>

    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="10014">
            </div>
            <button type="submit" class="btn btn-default">Search Zip Code</button>
          </form>
          <li>
            <a href="#">
              <button type="button" class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-book"></span> Books
              </button>
            </a>
          </li>
          <li>
            <a href="#">
              <button type="button" class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-headphones"></span> Music
              </button>
            </a>
          </li>
          <li>
            <a href="#">
              <button type="button" class="btn btn-default btn-md">
                <span class="glyphicon glyphicon-film"></span> Movies
              </button>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">SUBMIT AN ENTRY</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

      <div class="row">
        <div class="col-lg-4">
          <img class="col-lg-12" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRenyuPyQO5O_6LrIH6sIp1-_JTSKrf7n4e41iElp9WbmGGe2pRPw">
        </div>
        <div class="col-lg-8">
          <h2>Greenwich Village</h2>
          <p>For nearly all of the 20th century Greenwich Village was a central location for artists and innovators from around the world. The neighborhood, which had begun as a prosperous residential area during colonial times and had become a tenement district in the nineteenth century, began to attract artists and bohemians from around the country. Its central location and inexpensive rent made it desirable among those artists who longed to be in New York.</p>
          <p>Although Greenwich Village was New York's toniest neighborhood during the 19th century, the 20th century saw an influx of Bohemians from all over the world eager to take advantage of the area's cosmopolitan nightlife and cheap rents on the western fringes. The Village came to rival Paris's Left Bank, as poets, playwrights, and novelists staked out their own personal literary terrains.</p>
          <p>In the late 1960s artists like Bob Dylan increased the publicity of this already popular neighborhood, making it increasingly desirable and expensive. Today, rising rent has made it nearly impossible for young artists to live in lower Manhattan, ending the reign of one of the most culturally impressive neighborhoods in American history.</p>
        </div>
      </div>
      <div class="row">
        <h3>BOOKS</h3>
          <div class="row"
            <div class="col-md-12">
              <img class="col-md-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_pZC2x3dzaMlvBWTJsp-qT_e2Kr5Wk8z3ev0zqgfJsJpLSwnWnw">
              <img class="col-md-4" src="http://www.dylanthomas100.org/media/51283/chumleys.jpg">
              <img class="col-md-4" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSgcXuvgi2cynHRBC0iHi6UDTIYccF3jjFe64z7QnMx9YKBXdXD">
            </div>
            <div class="col-md-12">
             <p class="col-md-4">
              <strong> THE WHITE HORSE TAVERN</strong>, located in New York City's borough of Manhattan at <a href>Hudson Street and 11th Street</a>, is known for its 1950s and 1960s Bohemian culture. It is one of the few major gathering-places for writers and artists from this period in Greenwich Village (although the surrounding neighborhood is, more properly, the West Village) that remains open. The bar opened in 1880 but was known more as a longshoremen's bar than a literary center until Dylan Thomas, James Baldwin, Jack Kerouac and other writers began frequenting it in the early 1950s. Due to its literary fame, in the past few decades the White Horse has become a popular destination among tourists.
              </p>
              <p class="col-md-4">
              <strong>CHUMLEY'S</strong> is a historic pub and former speakeasy at <a href>86 Bedford Street</a>. It was established in 1922 by the socialist activist Leland Stanford Chumley, who converted a former blacksmith's shop near the corner of Bedford and Barrow Streets into a Prohibition-era drinking establishment. The speakeasy became a favorite spot for influential writers, poets, playwrights, journalists, and activists, including members of the Lost Generation and the Beat Generation movements.
              </p>
              <p class="col-md-4">
              <strong> EDGAR ALLEN POE</strong> lived at <a href> 85 West Third Street</a> in Greenwich Village from 1844 to the early months of 1846, before moving to a cottage in Fordham with his wife and mother-in-law when his wife's health began to deteriorate. Poe wrote "The Cask of Amontillado," and revised and published "The Raven" during his time on Third Street. According to a petition signed by over 70 scholars to save the house, he also "achieved his lifelong dream of acquiring his own literary magazine and worked on at least three important short stories” while living there. The construction of NYU's Furman Hall for law students in 2001 required the demolition of Poe's former residence, but a compromise was struck in which NYU agreed to preserve the facade of the house.
              </p>
            </div>
        <h3>MUSIC</h3>
          <div class="row"
            <div class="col-md-12">
              <img class="col-md-4" src="http://www.geetarz.org/reviews/misc/hendrix-electric-lady-studio-front.jpg">
              <img class="col-md-4" src="http://johannasvisions.com/wp-content/uploads/2013/12/bob-dylan-freewheelin.jpg">
              <img class="col-md-4" src="http://eil.com/images/main/John+Coltrane+%2D+Live+At+The+Village+Vanguard+Again%21+%2D+LP+RECORD-541219.jpg">
            </div>
            <div class="col-md-12">
              <p class="col-md-4">
              <strong> ELECTRIC LADY STUDIOS </strong>, located at <a href> 52 West 8th Street</a>, was originally built by Jimi Hendrix and designed by John Storyk in 1970. Hendrix spent only four weeks recording in Electric Lady before his death. Today, Electric Lady Studios famous as the site of many classic 70s sessions with The Rolling Stones, Led Zeppelin, Stevie Wonder, David Bowie, and Patti Smith, among others.  It maintains its reputation as a hallowed grounds for recorded rock music and is the oldest working and thriving recording studio in New York City.
              </p>
              <p class="col-md-4">
              <strong> THE FREEWHEELIN' BOB DYLAN </strong> album cover features a photograph of a 21 year old Bob Dylan and his girlfriend at the time, Suze Rotolo. The photograph was taken in February 1963 by Don Hunstein. Dylan lived a short ways away at <a href> 161 West 4th Street</a> at the time. The cover of this album is often thought to be shot on West 4th Street between 6th and 7th, outside of his apartment. This is not true. The actual street is a one block side street connecting West 4th and Bleeker, called Jones Street.
              </p>
              <p class="col-md-4">
              <strong>THE VILLAGE VANGUARD</strong> is a jazz club located at <a href> 178 7th Avenue South</a>. The club was opened on February 22, 1935, by Max Gordon. At first, it featured many forms of music, such as folk music and beat poetry, but it switched to an all-jazz format in 1957.  Recorded in May 1966 during John Coltrane's Free Jazz period, <em>Live at The Village Vanguard Again!</em> is one of many popular live albums to have been recorded at the club.
              </p>
            </div>
          <h3>MOVIES</h3>
            <div class="row"
              <div class="col-md-12">
                <img class="col-md-4" src="http://www.impawards.com/1984/posters/pope_of_greenwich_village.jpg">
                <img class="col-md-4" src="http://ia.media-imdb.com/images/M/MV5BMjAxNjcyNDQxM15BMl5BanBnXkFtZTgwNzU2NDA0MDE%40._V1_SX640_SY720_.jpg">
                <img class="col-md-4" src="http://opinionatedalex.files.wordpress.com/2011/04/rear_window_ver3_xlg.jpg">
              </div>
              <div class="col-md-12">
                <p class="col-md-4">
                <strong>THE POPE OF GREENWICH VILLAGE</strong> is a 1984 American film starring Mickey Rourke, Eric Roberts, Daryl Hannah, Geraldine Page, Kenneth McMillan and Burt Young. Page earned an Academy Award nomination for Best Supporting Actress for her two-scene role. The film was adapted by screenwriter Vincent Patrick from his novel of the same name. Stuart Rosenberg directed.  The Bakery, Cheese Shop, and Butcher featured in the movie are located on <a href> Sullivan Street between West Houston and Prince Streets</a>
                </p>
                <p class="col-md-4">
                <strong> INSIDE LLEWYN DAVIS</strong> is a 2013 American comedy-drama film written, directed and edited by Joel and Ethan Coen. The film stars Oscar Isaac, Carey Mulligan, and John Goodman, and was produced by Scott Rudin, Ethan and Joel Coen.[5] T Bone Burnett was the executive music producer. The story is about one week in the life of a singer-songwriter who is active in New York's folk music scene in 1961. Although Llewyn Davis is a fictional character, the story was partly inspired by the autobiography of folk singer Dave Van Ronk. Most of the folk songs performed in the film are sung in full, and, with one exception, were recorded live.  Many of the live scenes are staged as though they were shot in the now defunct Gaslight Cafe at <a href> 118 MacDougal Street.</a>
                </p>
                <p class="col-md-4">
                <strong>REAR WINDOW</strong> is a 1954 American suspense thriller film directed by Alfred Hitchcock, written by John Michael Hayes and based on Cornell Woolrich's 1942 short story "It Had to Be Murder". Originally released by Paramount Pictures, the film stars James Stewart, Grace Kelly, Wendell Corey, Thelma Ritter and Raymond Burr. The film is considered by many filmgoers, critics and scholars to be one of Hitchcock's best.  Though shot it Los Angeles, the courtyard over which the wheelchair bound J.B. Jeffries (played by James Stewart) often looks out is modeled on a building at <a href> 20 West 10th Street, between Bleecker and Hudson.</a>
                </p>
            </div>
          </div>
  </body>
</html>
